{% extends "layout.njk" %}

{% block head %}

    <title>Estudantes - Rocketseat</title>

    <link rel="stylesheet" href="/styles/people.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/students">
        <section class="picture"
            style="background-image: url({{student.avatar_url}});"
        >
        </section>

        <section class="info">
            <h3>Editar estudante</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>{{student.name}}</div>
            </div>

            <div class="item">
                <div>Nome completo</div>
                <div>{{student.email}}</div>
            </div>

            <div class="item">
                <div>Aniversário</div>
                <div>{{student.birth}}</div>
            </div>

            <div class="item">
                <div>Ano escolar</div>
                <div>{{student.level}}</div>
            </div>

            <div class="item">
                <div>Carga horária semanal</div>
                <div>{{student.classroom}}</div>
            </div>

            <a href="/students/{{student.id}}/edit" class="button">Editar</a>

        </section>
    </form>

{% endblock %}