{% extends "layout.njk" %}

{% block head %}

    <title>Estudantes - Rocketseat</title>

    <link rel="stylesheet" href="/styles/people.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/students">
        <section class="picture"></section>

        <section class="info">
            <h3>Cadastro de estudante</h3>

            {% include 'students/fields.njk' %}

        </section>
    </form>

{% endblock %}