{% extends "layout.njk" %}

{% block head %}

    <title>Estudantes - Rocketseat</title>

    <link rel="stylesheet" href="/styles/people.css">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="picture"
            style="background-image: url({{student.avatar_url}});"
            >
        </section>

        <section class="info">
            <form method="POST" action="/students?_method=PUT">         
                <h3>Editar estudante</h3>

                {% include 'students/fields.njk' %}

                <input type="hidden" name="id" value="{{student.id}}">
            </form>

            <form id="form-delete" action="/students?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{student.id}}">

                <button class="submit-position" type="submit">Deletar</button>
            </form>
        </section>
    </div>
    {% include 'confirm.njk' %}
   

{% endblock %}