<div class="item">
    <div>Avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{student.avatar_url}}"    
        >
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input
            type="text"
            name="name"
            placeholder="Nome do estudante"
            value="{{student.name}}"    
        >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input
            type="email"
            name="email"
            value="{{student.email}}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{student.birth}}"   
        >
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="level">
            <option
                value="value"
                disabled="disabled"
                selected="select"
                > Selecione uma opção
            </option>
            <option 
                value="5EF"
                {% if student.level == "5EF" %} 
                    selected="select"
                {% endif %}>5º Ano do Ensino Fundamental
            </option>
            <option 
                value="6EF"
                {% if student.level == "6EF" %} 
                    selected="select"
                {% endif %}>6º Ano do Ensino Fundamental
            </option>
            <option 
                value="7EF"
                {% if student.level == "7EF" %} 
                    selected="select"
                {% endif %}>7º Ano do Ensino Fundamental
            </option>
            <option 
                value="8EF"
                {% if student.level == "8EF" %} 
                    selected="select"
                {% endif %}>8º Ano do Ensino Fundamental
            </option>
            <option 
                value="9EF"
                {% if student.level == "9EF" %} 
                    selected="select"
                {% endif %}>9º Ano do Ensino Fundamental
            </option>
             <option 
                value="1EM"
                {% if student.level == "1EM" %} 
                    selected="select"
                {% endif %}>1º Ano do Ensino Médio
            </option>
             <option 
                value="2EM"
                {% if student.level == "2EM" %} 
                    selected="select"
                {% endif %}>2º Ano do Ensino Médio
            </option>
             <option 
                value="3EM"
                {% if student.level == "3EM" %} 
                    selected="select"
                {% endif %}>3º Ano do Ensino Médio
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <div>
        <input 
            type="number"
            name="classroom"
            value="{{student.classroom}}"
        >
    </div>
</div>

<button type="submit">Salvar</button>