{% extends "layout.njk" %}

{% block head %}

    <title>Estudantes - Rocketseat</title>

    <link rel="stylesheet" href="/styles/people.css">
{% endblock %}

{% block content %}
    <div class="card table-container">
        <div class="submenu">
            <a class=button href="/students/create">Novo</a>

            <form action="/students" method="GET">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Nome ou email"
                    value={{filter}}
                >
                <button type="submit">Filtrar</button>
            </form>
        </div>




        <table>
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>E-mail</th>
                    <th>Ano escolar</th>
                    <th>Informações</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}}">
                            </span>
                            {{student.name}}
                        </td>
                        <td>
                            {{student.email}}
                        </td>
                        <td>
                            {{student.level}}
                        </td>
                        <td>
                            <a href="/students/{{student.id}}">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="paginatioPosition">
            <div class="pagination"

                data-page={{pagination.page}}
                data-total={{pagination.total}}
                data-filter={{filter}}

            ></div>

        </div>

    </div>

{% endblock %}