.card {
    display: grid;
    grid-template-columns: 40% 60%;

    background-color: rgb(255, 255, 255);
    width: 800px;
    min-height: 550px;
    margin: 35px auto;

    box-shadow: 0px 2px 6px -2px rgba(238, 90, 53, 0.719);

    animation: up 300ms easy;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.picture {
    /* background-image: url("https://source.unsplash.com/collection/10553730/505x500"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.info {
    padding: 32px;
}

.info .item {
    border-bottom: 1px solid #186ff1;
    padding: 16px 0;
}

.info .item:last-child {
    border: none;
}

.info h3,
.info .item div:nth-child(1) {
    color: #0f0d0d;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.info .item div:nth-child(2) {
    color: rgb(63, 63, 63);
    font-size: 18px;
}

.info h3{
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--color-orange);
    font-size: 18px;
}


/* form do TEACHERS/CREATE */
input {
    width: 100%;
    outline: none;
    border: none;
    padding: 8px 2px;
    font-size: 18px;
    font-weight: bold;
}

input::placeholder {
    color: var(--color-black);
    font-weight: normal;
    background-color: rgba(140, 155, 240, 0.164);
}

select[name="level"],
select[name="teacher"] {
    padding: 8px 2px;
    font-size: 16px;
    width: 60%;
}

select[name="level"] option,
select[name="teacher"] option {
    padding: 8px 2px;
    font-size: 16px;
}    

input[type="radio"] {
    width: initial;
    margin-right: 4px;
    cursor: pointer;
}

.info .item span {
    display: inline-block;
    background-color: rgb(59, 233, 117);
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

span {
    margin-right: 15px;
}

a.button,
button[type="submit"] {
    padding: 8px 32px;
    background-color: rgb(40, 90, 228);
    border-radius: 4px;
    margin-top: 32px;
    width: 50%;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-color: unset;
}

#form-delete {
    
}

/* 
.submit-position {
    display: inline-block;
} */

#form-delete button[type="submit"] {
    background-color: rgb(252, 44, 17);
    width: 50%;
}

/* SHOW.NJK */
a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(0, 148, 49);
}

/* INDEX.NJK */
table {
    width: 100%;
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
    color: black;
}

th {
    text-transform: uppercase;
    color: #777777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px var(--color-orange);
    border: 2px solid white;
}

tbody tr td:last-child a {
    text-decoration: none;
    background-color: var(--color-cards);
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

tbody tr td:last-child a:hover {
    background-color: var(--color-orange);

}

.table-container .submenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .submenu a,
.table-container .submenu button[type="submit"] {
    text-decoration: none;
    background-color: var(--color-cards);
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;

    margin: 0;
}

.table-container .submenu a{
    width: 60px;
}

.table-container .submenu button[type="submit"] {
    width: 120px;
    border-width: 0;
}

.table-container .submenu form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
}

.table-container .submenu form input {
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;
}

.table-container .submenu form button {
    margin: 0;
}

/* PAGINATION */
.table-container  .paginatioPosition {
    display: grid;
    grid-template: 64px 1fr 16px/ 1fr;
    /* margin: 0; */
    align-self: start;
}


.table-container .pagination {
    /* margin: 0; */
    align-self: end;
    justify-self: center;
}

.table-container .pagination a,
.table-container .pagination span{
    color: var(--color-cards);
    text-decoration: none;
    margin-right: 16px;
}

.table-container .pagination a:hover {
    color: var(--color-orange);
}
