{% extends "layout.njk" %}

{% block head %}

    <title>Professores - Rocketseat</title>

    <link rel="stylesheet" href="/styles/people.css">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="picture"
            style="background-image: url({{teacher.avatar_url}});"
            >
        </section>

        <section class="info">
            <form method="POST" action="/teachers?_method=PUT">         
                <h3>Editar professor</h3>

                {% include 'teachers/fields.njk' %}

                <input type="hidden" name="id" value="{{teacher.id}}">
            </form>

            <form id="form-delete" action="/teachers?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{teacher.id}}">

                <button type="submit">Deletar</button>
            </form>
        </section>
    </div>
   {% include 'confirm.njk' %}

{% endblock %}