{% extends "layout.njk" %}

{% block head %}

    <title>Professores - Rocketseat</title>

    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="picture"
            style="background-image: url('https://source.unsplash.com/collection/10553730/505x500');"
        >
        </section>

        <section class="info">
            <h3>Editar professor</h3>

            {% include 'teachers/fields.njk' %}

        </section>
    </form>

{% endblock %}