{% extends "layout.njk" %}

{% block head %}

    <title>Professores - Rocketseat</title>

    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="picture"
            style="background-image: url({{teacher.avatar_url}});"
        >
        </section>

        <section class="info">
            <h3>Editar professor</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>{{teacher.name}}</div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>{{teacher.birth}}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    {% if teacher.level == "medio" %}
                            Ensino Médio Completo
                        {% elif teacher.level == "superior" %}
                            Ensino Superior Completo
                        {% elif teacher.level == "mestrado" %}
                            Mestrado
                        {% else %}
                            Doutorado
                    {% endif %}                   
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    {{"Presencial" if teacher.type == "P" else "À distância"}}                     
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>{{teacher.area}}</div>
            </div>

            <a href="#" class="button">Editar</a>

        </section>
    </form>

{% endblock %}